<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Material Design Lite</title>

	<!-- Add to homescreen for Chrome on Android -->
	<meta name="mobile-web-app-capable" content="yes">
	<link rel="icon" sizes="192x192" href="images/android-desktop.png">

	<!-- Add to homescreen for Safari on iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="Material Design Lite">
	<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

	<!-- Tile icon for Win8 (144x144 + tile color) -->
	<meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
	<meta name="msapplication-TileColor" content="#3372DF">

	<link rel="shortcut icon" href="images/favicon.png">

	<!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
	<!--
	<link rel="canonical" href="http://www.example.com/">
	-->

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
	<link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="http://code.getmdl.io/1.1.1/material.cyan-light_blue.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<style>
		#view-source {
			position: fixed;
			display: block;
			right: 0;
			bottom: 0;
			margin-right: 40px;
			margin-bottom: 40px;
			z-index: 900;
		}
	</style>
</head>
<body>
<div class="login-div" style="text-align: center">
	<form action="#">
		<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
			<input class="mdl-textfield__input" type="text" id="playerName">
			<label class="mdl-textfield__label" for="playerName">Имя...</label>
		</div>
		<div >
			<button class="enter-button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
				Войти
			</button>
		</div>

	</form>
</div>
<div class="loredal-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
	<header class="loredal-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
		<div class="mdl-layout__header-row">
			<span class="mdl-layout-title">Loredal</span>
			<div class="mdl-layout-spacer"></div>
            <span class="">Население: </span><span class="pop-count ">0/0</span>&nbsp;|&nbsp;
            <span class="">Население: </span><span class="pop-count "></span>&nbsp;|&nbsp;
            <span class="">Население: </span><span class="pop-count "></span>&nbsp;|&nbsp;
            <span class="">Население: </span><span class="pop-count "></span>&nbsp;|&nbsp;

			<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
				<i class="material-icons">more_vert</i>
			</button>
			<ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
				<li class="mdl-menu__item">Выход</li>
			</ul>
		</div>
	</header>
	<div class="loredal-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
		<header class="loredal-drawer-header">
			<img src="images/user.jpg" class="loredal-avatar">
			<div class="loredal-avatar-dropdown">
				<span class="player-name"></span>
				<div class="mdl-layout-spacer"></div>
			</div>
		</header>
		<div class="player-exp mdl-progress mdl-js-progress"></div>
		<nav class="loredal-navigation mdl-navigation mdl-color--blue-grey-800">
			<div class="mdl-layout-spacer"></div>
		</nav>
	</div>
	<main class="mdl-layout__content mdl-color--grey-100">
		<div class="mdl-grid loredal-content">

			<div class="loredal-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
				<div class="house-card mdl-card mdl-shadow--8dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop ">
					<div class="mdl-card__title mdl-card--expand house-description">
						Домов 1<br>
						Населения: 0/10<br>
						Рост: 1
					</div>
					<div class="house-progress mdl-progress mdl-js-progress"></div>
					<div class="mdl-card__supporting-text mdl-color-text--grey-600">
						Домов 1
					</div>
				</div>
			</div>

            <div class="loredal-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="farm-card mdl-card mdl-shadow--8dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop ">

					<div class="mdl-card__title mdl-card--expand">
						Фермеров: 0<br>
						Доход:0<br>
						Еды: 0/10
					</div>

                    <div class="farm-progress mdl-progress mdl-js-progress"></div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600 farm-description">
						Ферм 1
                    </div>
                </div>
            </div>

            <div class="loredal-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing">
                <div class="mine-card mdl-card mdl-shadow--8dp mdl-cell mdl-cell--6-col mdl-cell--6-col-tablet mdl-cell--12-col-desktop ">
					<div class="mdl-card__title mdl-card--expand">
						Шахтеров: 0<br>
						Доход:0<br>
						Руды: 0/10
					</div>
                    <div class="mine-progress mdl-progress mdl-js-progress"></div>
                    <div class="mdl-card__supporting-text mdl-color-text--grey-600 mine-description">
                        Шахт 1
                    </div>
                </div>
            </div>




		</div>
	</main>
</div>
<script src="http://code.getmdl.io/1.1.1/material.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.0.3/sockjs.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="javascripts/buildings/house.js"></script>
<script src="javascripts/buildings/farm.js"></script>
<script src="javascripts/main.js"></script>
<script src="javascripts/js.cookie.js"></script>

</body>
</html>